.about{
    margin: 0px;
    padding: 0px;
    background-color: lightslategrey;
    height: 710px;
    width: 100%;
}

.aboutDesc {
    padding: 150px;
    text-align: center;
    font-size: 50px;
    color: red;
}